h1.mt-0{
    color:#FF9900;
    font-weight: 900;
    
}
img.w-100 {
    height: 863px;
}

div.col-md-6.p-4.ps-md-0{

   text-align:right;
   padding-left:50px;
  
}
div.row.g-0.bg-body-secondary.position-relative{
    background-color: #202020 !important;
    color:#202020;
   
}
main.bg{
    background-color: #202020;
}
.txt-intro{
    color:white;
    font-weight:500;
    
}
.txt-intro2{
    color:white;
    font-weight:100;
    
}