<link rel="stylesheet" type="text/css" href="footer.component.css">
<footer class="footer">
    <h2 class="sushi-text">Vous avez un sushi sur votre commande ?</h2>
    <div class="footer-content">
      <div class="contact-info">
        <h1>Contactez-nous :</h1><br>
        <p>Tel : 06 12 34 56 78</p><br>
        <p>Mail : suchill77&#64;gmail.com</p>
      </div>
      <div class="conditions">
        <p><a href="/conditions-generales">Copyright Â© 2023. SuChill . All rights reserved.
          </a></p>
      </div>
    </div>
    <div class="logo">
      <img src="/assets/Ressources/suchill_black.png" alt="Logo_noir">
    </div>
  </footer>
