<!-- panier.component.html -->
<div id="ListCommande">
    <div class="left-section">
        <div id="commande">
            <h1>Ma Commande</h1>
            <hr>
            <div class="command-history">
                <div class="history1">
                    <div class="command-details" *ngFor="let box of panierService.panier; let i = index">
                        <ul>
                            <li>{{box.quantite}} X {{box.nom}}</li>
                        </ul>
                        <div class="price-quantity">
                            <h3 id="prix">{{box.prixUnite.toFixed(2)}} €</h3>
                            <button class="remove-button" (click)="supprimerDuPanier(i)">Supprimer</button>
                        </div>
                    </div>
                </div>
                <p>Livraison Offerte</p>
                <hr>
            </div>
            <div class="total-section">
                <h3 id="prixT">Total : {{totalPrix.toFixed(2)}} €</h3>
                <button class="commander" (click)="Commander()">Commander</button>
            </div>
        </div>
    </div>
    <div *ngIf="panierService.panier.length === 0" id="panier">
        <h1>Le panier est vide</h1>
    </div>
</div>
